catalog_picks_V1_2a_FIXED.json
{
  "name": "catalog picks - UPDATED",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "312d5d9d-c07d-419d-a3c4-b8b0ea441f47",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "jsCode": "// Build a lookup map from the parts table (input 2)\nconst partsMap = {};\n\n// Get parts data from the second input\nconst partsItems = $input.all();\npartsItems.forEach(item => {\n  const sku = item.json.SKU;\n  if (sku) {\n    partsMap[sku] = item.json;\n  }\n});\n\n// Get catalog picks from node reference\nconst catalogItems = $('PICK SKUS FOR CATALOG').all();\n\n// Merge: Keep all catalog items and enrich with parts data where available\nconst enrichedItems = catalogItems.map(item => {\n  const sku = item.json.SKU;\n  const partsData = partsMap[sku] || {};\n  \n  return {\n    json: {\n      ...item.json,\n      ...partsData\n    }\n  };\n});\n\nreturn enrichedItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        16
      ],
      "id": "5307abd5-0496-43ec-b7c4-1803b82d5a10",
      "name": "Merge in Code"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "10bucoPFwtqYxHhr",
          "mode": "list",
          "cachedResultName": "current_seasonal_baseline",
          "cachedResultUrl": "/projects/EgkKYeoNt3ZOmjUb/datatables/10bucoPFwtqYxHhr"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        192,
        0
      ],
      "id": "a1b206ff-f076-4e78-a261-e4abb63e5ef9",
      "name": "PROMO RESULTS"
    },
    {
      "parameters": {
        "jsCode": "// --- CONFIGURATION ---\nconst MAX_PAGES = 64;\nconst ITEMS_PER_PAGE = 10;\nconst HERO_ITEMS_COUNT = 30; // Pages 1-3\n\n// Helper to clean currency strings \"$1,000.00\" -> 1000.00\nfunction cleanMoney(val) {\n  if (typeof val === 'number') return val;\n  if (!val) return 0;\n  // Use a regex that handles both US and European formats if needed, \n  // but for now, just removing $, %, and commas is sufficient for US currency.\n  return parseFloat(val.toString().replace(/[$,%]/g, ''));\n}\n\n// 1. Process all incoming items\nlet allItems = items.map(item => {\n  const json = item.json;\n  \n  // Calculate Scores (Simplified Normalization)\n  const sales = cleanMoney(json['Promo Net Sales']);\n  const margin = cleanMoney(json['Promo Margin %']);\n  const lift = cleanMoney(json['Promo Lift Sales']);\n  \n  // Weighted Score: 50% Sales, 30% Margin, 20% Lift\n  const score = (sales * 0.5) + (lift * 0.2) + (margin * 1000 * 0.3); \n\n  // Infer Category if missing\n  let cat = json['OFFICERS_CATEGORY'] || json['Category'] || 'General';\n  const desc = (json['Item Description'] || '').toUpperCase();\n  \n  if (!json['OFFICERS_CATEGORY']) {\n    if (desc.includes('BIBLE') || desc.includes('NIV') || desc.includes('ESV')) cat = 'BIBLES';\n    else if (desc.includes('HC') || desc.includes('PB') || desc.includes('BOOK')) cat = 'BOOKS';\n    else if (desc.includes('GIFT') || desc.includes('SET')) cat = 'GIFTS';\n  }\n\n  return {\n    json: {\n      ...json,\n      clean_sales: sales,\n      clean_category: cat,\n      catalog_score: score\n    }\n  };\n});\n\n// 2. Filter valid items (Sales > 0)\n// **THIS LINE WAS CAUSING ISSUES, COMMENTED OUT FOR TESTING:**\n// allItems = allItems.filter(i => i.json.clean_sales > 0);\n// **NEW: Filter out items where sales couldn't be calculated (i.e., not a number)**\nallItems = allItems.filter(i => !isNaN(i.json.clean_sales));\n\n\n// 3. Global Sort by Score\nallItems.sort((a, b) => b.json.catalog_score - a.json.catalog_score);\n\n// 4. Limit to Top 640\nconst topItems = allItems.slice(0, MAX_PAGES * ITEMS_PER_PAGE);\n\n// 5. Layout Strategy\n\n// Part A: Heroes (Top 30 Global)\nconst heroes = topItems.slice(0, HERO_ITEMS_COUNT);\nheroes.forEach((item, index) => {\n  const page = Math.floor(index / ITEMS_PER_PAGE) + 1;\n  item.json.Layout_Section = `Page ${page} (Hero/Best Seller)`;\n});\n\n// Part B: The Body (Remaining Items)\nconst body = topItems.slice(HERO_ITEMS_COUNT);\n\n// Sort Body by Category -> Then Score\nbody.sort((a, b) => {\n  if (a.json.clean_category < b.json.clean_category) return -1;\n  if (a.json.clean_category > b.json.clean_category) return 1;\n  return b.json.catalog_score - a.json.catalog_score;\n});\n\n// Assign Pages to Body\nconst startPage = 4;\nbody.forEach((item, index) => {\n  const page = startPage + Math.floor(index / ITEMS_PER_PAGE);\n  item.json.Layout_Section = `Page ${page} (${item.json.clean_category})`;\n});\n\n// 6. Combine and Return\nconst finalCatalog = [...heroes, ...body];\n\n// Return clean list\nreturn finalCatalog;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ],
      "id": "b410fc2f-dc7e-4fb5-bf67-ffd51522e018",
      "name": "PICK SKUS FOR CATALOG"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "Pqqd0qZlVl1uVYpJ",
          "mode": "list",
          "cachedResultName": "n8nparts",
          "cachedResultUrl": "/projects/EgkKYeoNt3ZOmjUb/datatables/Pqqd0qZlVl1uVYpJ"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        752,
        128
      ],
      "id": "7aaa1d1b-e442-47f2-ba07-ce54350d418b",
      "name": "ADD PARTS"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "PROMO RESULTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PROMO RESULTS": {
      "main": [
        [
          {
            "node": "PICK SKUS FOR CATALOG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PICK SKUS FOR CATALOG": {
      "main": [
        [
          {
            "node": "ADD PARTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ADD PARTS": {
      "main": [
        [
          {
            "node": "Merge in Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c98fd1aa-9719-4509-8adf-d9541ec2c99c",
  "meta": {
    "instanceId": "5605c9fb756bfa168d22122a14cf038f60b01d43c8353976dd886ec5e9e6d10c"
  },
  "id": "cnmifo7j03jMooa1",
  "tags": []
}
