dcatalog4_5.json
{
  "name": "dcatalog",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2016,
        -496
      ],
      "id": "8ddbea64-b647-4810-b1a4-8e96f9d128d1",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "FTdSjJC8S1ch8URz",
          "mode": "list",
          "cachedResultName": "hxpromo",
          "cachedResultUrl": "/projects/NfiKb9OnyWppoIYz/datatables/FTdSjJC8S1ch8URz"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1808,
        -496
      ],
      "id": "c5883d83-f191-41ce-a3ea-70808fe71abe",
      "name": "LOAD HX PROMO RESULTS"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// CATALOG SKU PICKER - ENHANCED VERSION\n// ============================================================================\n// Purpose: Select the best 640 SKUs (64 pages × 10 products) for a catalog\n// Strategy:\n//   - Pages 1-3 (30 items): Top bestsellers across all categories\n//   - Pages 4-64 (610 items): Grouped by category, sorted by performance\n// ============================================================================\n\n// --- CONFIGURATION ---\nconst CONFIG = {\n  MAX_PAGES: 64,\n  ITEMS_PER_PAGE: 10,\n  BESTSELLER_PAGES: 3,\n  BESTSELLER_COUNT: 30, // 3 pages × 10 items\n  \n  // Scoring weights (must sum to 1.0)\n  WEIGHTS: {\n    sales: 0.40,        // Net sales contribution\n    margin: 0.30,       // Profit margin percentage\n    profit: 0.20,       // Absolute profit dollars\n    lift: 0.10          // Promotional lift sales\n  },\n  \n  // Minimum thresholds for inclusion\n  MIN_SALES: 0,         // Minimum net sales to be included\n  MIN_MARGIN: 0,        // Minimum margin percentage (e.g., 0.20 for 20%)\n  \n  // SKU deduplication strategy\n  DEDUP_STRATEGY: 'highest_score' // Options: 'highest_score', 'first', 'sum_sales'\n};\n\n// --- HELPER FUNCTIONS ---\n\n/**\n * Clean and parse currency/numeric values\n * Handles formats like: \"$1,234.56\", \"1234.56\", \"50%\"\n */\nfunction parseNumeric(value) {\n  if (typeof value === 'number') return value;\n  if (!value || value === '') return 0;\n  \n  const str = String(value).trim();\n  // Remove currency symbols, commas, and percentage signs\n  const cleaned = str.replace(/[$,€£¥%]/g, '');\n  const parsed = parseFloat(cleaned);\n  \n  return isNaN(parsed) ? 0 : parsed;\n}\n\n/**\n * Normalize a value to 0-1 range for scoring\n * Uses min-max normalization with protection against division by zero\n */\nfunction normalize(value, min, max) {\n  if (max === min) return 0;\n  return Math.max(0, Math.min(1, (value - min) / (max - min)));\n}\n\n/**\n * Calculate comprehensive product score\n */\nfunction calculateScore(item, stats) {\n  const sales = parseNumeric(item['Promo_Net_Sales']);\n  const margin = parseNumeric(item['Promo_Margin_Perc']); // Already in percentage (0-1)\n  const profit = parseNumeric(item['Promo_Profit']);\n  const lift = parseNumeric(item['Promo_Lift_Sales']);\n  \n  // Normalize each metric to 0-1 scale\n  const salesNorm = normalize(sales, stats.min.sales, stats.max.sales);\n  const marginNorm = normalize(margin, stats.min.margin, stats.max.margin);\n  const profitNorm = normalize(profit, stats.min.profit, stats.max.profit);\n  const liftNorm = normalize(lift, stats.min.lift, stats.max.lift);\n  \n  // Calculate weighted score\n  const score = (\n    salesNorm * CONFIG.WEIGHTS.sales +\n    marginNorm * CONFIG.WEIGHTS.margin +\n    profitNorm * CONFIG.WEIGHTS.profit +\n    liftNorm * CONFIG.WEIGHTS.lift\n  ) * 1000; // Scale to 0-1000 range for easier interpretation\n  \n  return {\n    score,\n    sales,\n    margin,\n    profit,\n    lift\n  };\n}\n\n/**\n * Infer or clean category from available data\n */\nfunction determineCategory(json) {\n  let category = json['OFFICERS_CATEGORY'] || '';\n  \n  // If category is missing or empty, try to infer from description\n  if (!category || category.trim() === '') {\n    const desc = String(json['Item_Description'] || '').toUpperCase();\n    \n    // Category inference rules\n    if (desc.includes('BIBLE') || desc.includes('NIV') || desc.includes('ESV') || \n        desc.includes('KJV') || desc.includes('NKJV') || desc.includes('NLT')) {\n      category = 'BIBLES';\n    } else if (desc.includes('BOOK') || desc.includes(' HC ') || desc.includes(' PB ') || \n               desc.includes('HARDCOVER') || desc.includes('PAPERBACK')) {\n      category = 'BOOKS';\n    } else if (desc.includes('GIFT') || desc.includes('SET') || desc.includes('NATIVITY') || \n               desc.includes('TIVITY')) {\n      category = 'GIFTS';\n    } else {\n      category = 'GENERAL';\n    }\n  }\n  \n  // Clean and standardize category name\n  return category.toString().trim().toUpperCase();\n}\n\n/**\n * Deduplicate SKUs based on configured strategy\n */\nfunction deduplicateSkus(items) {\n  const skuMap = new Map();\n  \n  items.forEach(item => {\n    const sku = item.json.SKU;\n    \n    if (!skuMap.has(sku)) {\n      skuMap.set(sku, [item]);\n    } else {\n      skuMap.get(sku).push(item);\n    }\n  });\n  \n  const dedupedItems = [];\n  \n  skuMap.forEach((dupes, sku) => {\n    if (dupes.length === 1) {\n      dedupedItems.push(dupes[0]);\n    } else {\n      // Apply deduplication strategy\n      let selectedItem;\n      \n      switch (CONFIG.DEDUP_STRATEGY) {\n        case 'highest_score':\n          selectedItem = dupes.reduce((best, current) => \n            current.json.catalog_score > best.json.catalog_score ? current : best\n          );\n          break;\n          \n        case 'first':\n          selectedItem = dupes[0];\n          break;\n          \n        case 'sum_sales':\n          // Combine sales metrics\n          selectedItem = { ...dupes[0] };\n          selectedItem.json = { ...dupes[0].json };\n          selectedItem.json.clean_sales = dupes.reduce((sum, item) => \n            sum + item.json.clean_sales, 0\n          );\n          selectedItem.json.clean_profit = dupes.reduce((sum, item) => \n            sum + item.json.clean_profit, 0\n          );\n          // Recalculate score with combined metrics\n          selectedItem.json.catalog_score = dupes.reduce((sum, item) => \n            sum + item.json.catalog_score, 0\n          ) / dupes.length;\n          break;\n          \n        default:\n          selectedItem = dupes[0];\n      }\n      \n      dedupedItems.push(selectedItem);\n    }\n  });\n  \n  return dedupedItems;\n}\n\n// --- MAIN PROCESSING ---\n\ntry {\n  // STEP 1: Process all incoming items and calculate metrics\n  console.log(`Processing ${items.length} items...`);\n  \n  let processedItems = items.map((item, index) => {\n    const json = item.json;\n    \n    return {\n      json: {\n        ...json,\n        original_index: index,\n        clean_sales: parseNumeric(json['Promo_Net_Sales']),\n        clean_margin: parseNumeric(json['Promo_Margin_Perc']),\n        clean_profit: parseNumeric(json['Promo_Profit']),\n        clean_lift: parseNumeric(json['Promo_Lift_Sales']),\n        clean_category: determineCategory(json)\n      }\n    };\n  });\n  \n  // STEP 2: Calculate statistics for normalization\n  const validItems = processedItems.filter(item => \n    item.json.clean_sales > CONFIG.MIN_SALES && \n    item.json.clean_margin >= CONFIG.MIN_MARGIN\n  );\n  \n  if (validItems.length === 0) {\n    throw new Error('No valid items found after filtering. Check MIN_SALES and MIN_MARGIN thresholds.');\n  }\n  \n  const stats = {\n    min: {\n      sales: Math.min(...validItems.map(i => i.json.clean_sales)),\n      margin: Math.min(...validItems.map(i => i.json.clean_margin)),\n      profit: Math.min(...validItems.map(i => i.json.clean_profit)),\n      lift: Math.min(...validItems.map(i => i.json.clean_lift))\n    },\n    max: {\n      sales: Math.max(...validItems.map(i => i.json.clean_sales)),\n      margin: Math.max(...validItems.map(i => i.json.clean_margin)),\n      profit: Math.max(...validItems.map(i => i.json.clean_profit)),\n      lift: Math.max(...validItems.map(i => i.json.clean_lift))\n    }\n  };\n  \n  console.log('Statistics:', JSON.stringify(stats, null, 2));\n  \n  // STEP 3: Calculate scores for all valid items\n  validItems.forEach(item => {\n    const scoreData = calculateScore(item.json, stats);\n    item.json.catalog_score = scoreData.score;\n    item.json.score_components = {\n      sales: scoreData.sales,\n      margin: scoreData.margin,\n      profit: scoreData.profit,\n      lift: scoreData.lift\n    };\n  });\n  \n  // STEP 4: Sort by score (highest first)\n  validItems.sort((a, b) => b.json.catalog_score - a.json.catalog_score);\n  \n  console.log(`Valid items after filtering: ${validItems.length}`);\n  console.log(`Top 5 scores: ${validItems.slice(0, 5).map(i => i.json.catalog_score.toFixed(2)).join(', ')}`);\n  \n  // STEP 5: Deduplicate SKUs\n  const dedupedItems = deduplicateSkus(validItems);\n  console.log(`Items after deduplication: ${dedupedItems.length}`);\n  \n  // STEP 6: Select top items for catalog\n  const totalSlots = CONFIG.MAX_PAGES * CONFIG.ITEMS_PER_PAGE;\n  const topItems = dedupedItems.slice(0, totalSlots);\n  \n  console.log(`Selected ${topItems.length} items for catalog`);\n  \n  // STEP 7: Layout strategy\n  \n  // Part A: BESTSELLERS (Pages 1-3)\n  const bestsellers = topItems.slice(0, CONFIG.BESTSELLER_COUNT);\n  bestsellers.forEach((item, index) => {\n    const page = Math.floor(index / CONFIG.ITEMS_PER_PAGE) + 1;\n    const position = (index % CONFIG.ITEMS_PER_PAGE) + 1;\n    \n    item.json.catalog_page = page;\n    item.json.page_position = position;\n    item.json.layout_section = 'BESTSELLERS';\n    item.json.page_label = `Page ${page} - Bestsellers`;\n  });\n  \n  // Part B: CATEGORY PAGES (Pages 4-64)\n  const categoryItems = topItems.slice(CONFIG.BESTSELLER_COUNT);\n  \n  // Group by category and sort within each category by score\n  const categoryGroups = {};\n  categoryItems.forEach(item => {\n    const cat = item.json.clean_category;\n    if (!categoryGroups[cat]) {\n      categoryGroups[cat] = [];\n    }\n    categoryGroups[cat].push(item);\n  });\n  \n  // Sort categories by total score (most valuable categories first)\n  const sortedCategories = Object.entries(categoryGroups)\n    .map(([category, items]) => ({\n      category,\n      items,\n      totalScore: items.reduce((sum, item) => sum + item.json.catalog_score, 0),\n      avgScore: items.reduce((sum, item) => sum + item.json.catalog_score, 0) / items.length\n    }))\n    .sort((a, b) => b.totalScore - a.totalScore);\n  \n  console.log('\\nCategory breakdown:');\n  sortedCategories.forEach(cat => {\n    console.log(`  ${cat.category}: ${cat.items.length} items, avg score: ${cat.avgScore.toFixed(2)}`);\n  });\n  \n  // Assign pages to category items\n  let currentPage = CONFIG.BESTSELLER_PAGES + 1;\n  let currentPosition = 1;\n  \n  sortedCategories.forEach(({ category, items }) => {\n    items.forEach(item => {\n      item.json.catalog_page = currentPage;\n      item.json.page_position = currentPosition;\n      item.json.layout_section = category;\n      item.json.page_label = `Page ${currentPage} - ${category}`;\n      \n      currentPosition++;\n      if (currentPosition > CONFIG.ITEMS_PER_PAGE) {\n        currentPosition = 1;\n        currentPage++;\n      }\n    });\n  });\n  \n  // STEP 8: Combine and return final catalog\n  const finalCatalog = [...bestsellers, ...categoryItems];\n  \n  // Sort by page and position for output\n  finalCatalog.sort((a, b) => {\n    if (a.json.catalog_page !== b.json.catalog_page) {\n      return a.json.catalog_page - b.json.catalog_page;\n    }\n    return a.json.page_position - b.json.page_position;\n  });\n  \n  // Add sequential catalog ID\n  finalCatalog.forEach((item, index) => {\n    item.json.catalog_sequence = index + 1;\n  });\n  \n  console.log(`\\nFinal catalog: ${finalCatalog.length} items across ${currentPage - 1} pages`);\n  console.log(`Bestsellers: ${bestsellers.length} items`);\n  console.log(`Category items: ${categoryItems.length} items`);\n  \n  // Return the processed catalog\n  return finalCatalog;\n  \n} catch (error) {\n  console.error('Error in catalog SKU picker:', error.message);\n  throw error;\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1552,
        -496
      ],
      "id": "dd54dff3-1103-402f-a4b7-245af8120136",
      "name": "PICK SKUS FOR CATALOG"
    },
    {
      "parameters": {
        "content": "Use API to add fields: \n\nproduct_desc:\nauthor_names:\nmain_description:\nshort_description:\ncategory_levels.0\ncategory_levels.1\ngoogle_data.google_product_category\ncbd_savings\ncbd_savings_perc:\naai\n* Colors\n* Size\n* Media Type\n* Binding\n* Communion Cup Quantity\nExtra Info\n  * By Author\n  * Series\n",
        "height": 512,
        "width": 288,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        -864
      ],
      "typeVersion": 1,
      "id": "7da3c897-23f9-4837-9326-b7f199c6e42f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Final Mapping and naming are the fields expected by DCatalog",
        "height": 80,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -784,
        736
      ],
      "typeVersion": 1,
      "id": "b3abdf82-3310-46aa-945e-b8d4cd2dfa05",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "CSV file for DCatalog",
        "height": 80,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        640,
        848
      ],
      "typeVersion": 1,
      "id": "63adcafb-055d-4d55-9edc-e3431364c5e1",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1136,
        272
      ],
      "id": "1a5a1b6d-e639-49e5-9ce3-7d31c220e181",
      "name": "Wait",
      "webhookId": "ecf827eb-3561-45e4-be1b-335f5f86e545"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "684d5db3-88e9-4e6b-b228-d9197a1548b5",
              "leftValue": "TYPE_COPY",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -288,
        272
      ],
      "id": "1cc25e62-6583-4331-a3aa-33883c86a2e4",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "47e9d2bb-ab88-4c4b-94fe-303793687f6f",
              "name": "Processing_Status",
              "value": "ERROR: Gemini Failed (Output Missing)",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        288
      ],
      "id": "8f2320b4-5871-4064-b4c8-5d6bfd01bd71",
      "name": "Set (Tag Failure)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c68d833c-e65d-45ef-bafa-461489db8df4",
              "name": "SKU",
              "value": "={{ $json.SKU }}",
              "type": "string"
            },
            {
              "id": "2f0d789d-442d-49d4-a9ea-acc10c626831",
              "name": "main_description",
              "value": "={{ $json.main_description }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1760,
        272
      ],
      "id": "55f5ef3f-112d-4322-b744-e0dbe0b2d8a3",
      "name": "Set (Prep for AI)"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1360,
        272
      ],
      "id": "7747c85d-f9fb-4f70-af59-2ba8a8984a24",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "SKU",
              "field2": "CBD_SKU"
            }
          ]
        },
        "joinMode": "enrichInput1",
        "options": {
          "clashHandling": {
            "values": {
              "resolveClash": "preferLast",
              "mergeMode": "shallowMerge",
              "overrideEmpty": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -848,
        592
      ],
      "id": "3e580243-a425-4ad1-829c-31eeb5ad2dc4",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "let extractedText = '';\nlet originalSKU = 'UNKNOWN_SKU';\n\n// --- 1. Identify and Extract the Rewritten Text ---\n// We assume the raw Gemini output JSON is the content of the first item's .json property.\nconst rawGeminiOutput = items[0].json; \n\n// Safely extract the text using the validated path: .content.parts[0].text\nif (\n    rawGeminiOutput && \n    rawGeminiOutput.content && \n    rawGeminiOutput.content.parts && \n    rawGeminiOutput.content.parts[0] && \n    rawGeminiOutput.content.parts[0].text\n) {\n  extractedText = rawGeminiOutput.content.parts[0].text;\n}\n\n// --- 2. Extract SKU using the Pipe Delimiter ---\n\n// The RewrittenCopy now starts with SKU|\nif (extractedText.includes('|')) {\n    const parts = extractedText.split('|');\n    \n    // The SKU is the first part, and the rewritten text is the second part\n    originalSKU = parts[0].trim();\n    extractedText = parts.slice(1).join('|').trim(); // Recombine if there are multiple pipes\n\n    // Optional: Log the extracted SKU for debugging\n    // console.log(`Extracted SKU: ${originalSKU}`);\n}\n\n// --- 3. Output the required 2-column lookup table (SKU + Rewritten Copy) ---\nreturn [{\n    json: {\n        // Output the extracted SKU\n        CBD_SKU: originalSKU, \n        // Output the successfully extracted text (without the SKU prefix)\n        RewrittenCopy: extractedText \n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        272
      ],
      "id": "ba2c9a14-a885-4c1a-9581-7397bb544ae5",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8fb4bbff-4f0d-4e5a-938e-ce04adbfb5a1",
              "leftValue": "={{ $json.main_description }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1584,
        272
      ],
      "id": "4d880e65-3172-4cbc-883c-dba8adaa6d41",
      "name": "Filter1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a professional marketing copywriter for christianbook.com. Your sole task is to rewrite the user-provided product description to be highly engaging, clear, and persuasive, ensuring the output is 100 words or less. **Do not provide multiple versions, commentary, labels (like 'Short Version:', 'Option 1:'), or explanations.** Output ONLY the final, edited product description. Include the SKU from the input at the start of your response, followed by a pipe delimiter (|), and then the rewritten description. The input is: {{ $json.SKU }}{{ $json.main_description }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -896,
        272
      ],
      "id": "9d85ecab-384d-4191-b332-5574ef4ec323",
      "name": "Gemini Rewrite1",
      "credentials": {
        "googlePalmApi": {
          "id": "HidzdviTofISsQMG",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Test SKUs - commented out\n// const obj = {\n//   \"122423\": [], // Color\n//   \"0130142\": [], // Size\n//   \"121456\": [], // Communion Cup \n//   \"066053\": [], // Binding\n//   \"030749\": [], // free postage\n//   \"326526\": [], // Exclusive\n// };\n\n// Start with empty object instead\nconst obj = {};\n\nfor (const item of $input.all()) {\n  if (!(item.json.SKU in obj)) {\n    obj[item.json.SKU] = [];\n  }\n  obj[item.json.SKU].push(item.json)\n}\nconst arrayRecord = Object.keys(obj).map(key => {\n  return {\n    SKU: key,\n    data: JSON.stringify(obj[key])\n  }\n})\n// Split incoming items into chunks of 100\nconst chunkSize = 100;\nconst batches = [];\nfor (let i = 0; i < arrayRecord.length; i += chunkSize) {\n  batches.push(arrayRecord.slice(i, i + chunkSize));\n}\n// Return one item per batch\nreturn batches.map(batch => ({ json: { batch } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1024,
        -480
      ],
      "id": "61f99749-bd8f-4f4d-8d0d-a7566686ed5c",
      "name": "Unique Sku Batch Groups"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "SKU",
        "joinMode": "enrichInput1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -64,
        -96
      ],
      "id": "e98ab192-4382-44dd-9db0-2b76d65c5b43",
      "name": "Merge2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b021cd1c-c235-4592-9bc2-2917b9c65332",
              "leftValue": "={{ $json.SKU }}",
              "rightValue": "000382",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -2032,
        272
      ],
      "id": "32fdd42c-3c26-43db-808e-d09c6c9ca570",
      "name": "Filter",
      "disabled": true
    },
    {
      "parameters": {
        "fileName": "corecatalog.csv",
        "parentId": "=",
        "binaryData": true
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        240,
        784
      ],
      "id": "6e580e26-d28d-43c5-82c0-4666d409a13e",
      "name": "Upload a file",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "DgG27c7AmK9QAyvx",
          "name": "Microsoft Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## Sku Picking\n* Determine what skus should be in the catalog",
        "height": 464,
        "width": 864
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2064,
        -640
      ],
      "typeVersion": 1,
      "id": "7d847447-cc71-401e-8875-fe29bd2ca90b",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Product Details Fetch",
        "height": 80,
        "width": 1792,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -912,
        -1184
      ],
      "typeVersion": 1,
      "id": "addd381c-943d-4976-a536-1f353b1d5b7a",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "search",
        "query": "Documents"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        32,
        784
      ],
      "id": "4a737e19-8282-498d-8c16-045dc4ab088c",
      "name": "Search a folder",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "DgG27c7AmK9QAyvx",
          "name": "Microsoft Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "headerRow": true
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1600,
        592
      ],
      "id": "c599a6ea-d30c-4b44-950e-e45c6395b43a",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "name": "template.xlsx",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1Gz59n0-CI04Ok4zyb_bd_PD79paJwOTb",
          "mode": "list",
          "cachedResultName": "dcatalog",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Gz59n0-CI04Ok4zyb_bd_PD79paJwOTb"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1840,
        608
      ],
      "id": "145c6f37-08eb-4c85-affd-57f525cd77d0",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "QWreNJ1EsqB46A3S",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// For 'Run Once for All Items' mode\nconst outputItems = [];\n\nfor (const item of $input.all()) {\n  const newItem = {\n    json: {\n      ...item.json\n    }\n  };\n  \n  // Check if 'initialData' field exists and parse it\n  if (newItem.json.initialData) {\n    try {\n      // Parse the JSON string\n      const parsedData = JSON.parse(newItem.json.initialData);\n      \n      // If it's an array, take the first item\n      const dataObj = Array.isArray(parsedData) ? parsedData[0] : parsedData;\n      \n      // Merge the parsed data into the main object\n      newItem.json = {\n        ...newItem.json,\n        ...dataObj\n      };\n      \n      // Remove the original 'initialData' field\n      delete newItem.json.initialData;\n      \n    } catch (error) {\n      // If parsing fails, just keep the original initialData field\n      console.log('Error parsing initialData field for SKU:', newItem.json.SKU);\n    }\n  }\n  \n  outputItems.push(newItem);\n}\n\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        -96
      ],
      "id": "91e2861f-049a-428c-abe7-33a36bd92e57",
      "name": "Bring back initial data"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f66a406-85af-44cf-aed9-4469d28519d6",
              "name": "PAGE",
              "value": "={{ $json.catalog_page }}",
              "type": "number"
            },
            {
              "id": "8a2a1b40-2aa6-4bc4-862f-5abc1adb1b9a",
              "name": "CATEGORY",
              "value": "={{ $json.layout_section }}",
              "type": "string"
            },
            {
              "id": "dd4e3a64-8616-4d36-8b78-9276a459305d",
              "name": "SUBCATEGORY",
              "value": "",
              "type": "string"
            },
            {
              "id": "4e9674cb-2c77-4589-90d2-6d4e0a14296b",
              "name": "GROUP_BY",
              "value": "=",
              "type": "string"
            },
            {
              "id": "64f5af48-5a2a-451c-b28e-ed70ae1e3046",
              "name": "SKU",
              "value": "={{ $json.SKU }}",
              "type": "string"
            },
            {
              "id": "3cec07b5-6ad6-43dd-8a9b-0997f2bd7359",
              "name": "FREE_SHIP_SKU",
              "value": "=",
              "type": "string"
            },
            {
              "id": "f9a2c2fd-1787-40d8-9520-e3f0d6a4dde6",
              "name": "TITLE",
              "value": "={{ $json.product_desc }}",
              "type": "string"
            },
            {
              "id": "3301175d-9188-4132-9328-48d2af370679",
              "name": "SUBTITLE",
              "value": "",
              "type": "string"
            },
            {
              "id": "c8ef58ea-7f3e-4ebd-98ce-0c2315bbf648",
              "name": "AUTHOR",
              "value": "={{ $json.author_names }}",
              "type": "string"
            },
            {
              "id": "5ca74b3b-33e6-4db6-b629-afaa521b731f",
              "name": "COPY",
              "value": "={{ $json.RewrittenCopy }}",
              "type": "string"
            },
            {
              "id": "8ae5a9e5-6f48-438c-826c-a47b04a94b21",
              "name": "SPECIAL_FEATURES",
              "value": "={{ $json.specialFeaturesText }}",
              "type": "string"
            },
            {
              "id": "e7909a9e-bd7b-4bf2-a7dc-e3dc78658605",
              "name": "IMAGE",
              "value": "",
              "type": "string"
            },
            {
              "id": "3026411e-9b2d-4045-920e-d806cc893f00",
              "name": "POSTSELL0",
              "value": "",
              "type": "string"
            },
            {
              "id": "bf4b55a0-8311-4cbd-93de-61f0bd0b791e",
              "name": "POSTSELL1",
              "value": "",
              "type": "string"
            },
            {
              "id": "e8e4cb3b-a95f-4365-bff5-04406f2fa95f",
              "name": "POSTSELL2",
              "value": "",
              "type": "string"
            },
            {
              "id": "d323a8da-ab01-4374-bb20-7a3ea2404170",
              "name": "POSTSELL3",
              "value": "",
              "type": "string"
            },
            {
              "id": "ed5f6e6d-c765-44e1-ba73-d932efff9c35",
              "name": "POSTSELL5",
              "value": "",
              "type": "string"
            },
            {
              "id": "68238ed9-6077-4325-be4e-1a55db0b9072",
              "name": "RETAIL",
              "value": "={{ $json.retail }}",
              "type": "string"
            },
            {
              "id": "f8ab4af1-22b6-4b6d-ab4a-f762f401d29b",
              "name": "FEATURE_PRICE",
              "value": "={{ $json.price }}",
              "type": "string"
            },
            {
              "id": "a2bd6c02-7668-40a7-be7e-03bd4ed884a6",
              "name": "POSTSELL_PRICE",
              "value": "={{ $json.price }}",
              "type": "string"
            },
            {
              "id": "063997af-5d28-47b4-a8e8-b320b43079f4",
              "name": "PRICE_NOTNEEDED",
              "value": "",
              "type": "string"
            },
            {
              "id": "b978f1ca-bf6a-40fa-8e7a-27a92304e18b",
              "name": "NEW",
              "value": "",
              "type": "string"
            },
            {
              "id": "5c2903fa-e3de-48fd-875b-cb7c7c7a234c",
              "name": "SAVE_BUG",
              "value": "",
              "type": "string"
            },
            {
              "id": "93e04e6e-1e3b-4262-889a-d83304dc9142",
              "name": "BULK_BUG",
              "value": "",
              "type": "string"
            },
            {
              "id": "fbbee6e5-0f8f-4e79-8850-6ed988eabed2",
              "name": "PAGE_FOLIO_LEFT",
              "value": "",
              "type": "string"
            },
            {
              "id": "8fc82c85-6692-468a-9020-7874a29bb74b",
              "name": "PAGE_FOLIO_RIGHT",
              "value": "",
              "type": "string"
            },
            {
              "id": "37011286-cf49-4185-adf4-2188d49d6547",
              "name": "HEX_CATEGORY",
              "value": "5d2971",
              "type": "string"
            },
            {
              "id": "81270630-ff7c-4c6b-905f-7c77b7c0c723",
              "name": "HEX_SUBCATEGORY",
              "value": "5d2971",
              "type": "string"
            },
            {
              "id": "ddc71deb-019b-4a3d-927b-56b90f891d86",
              "name": "SAVE_IMAGE",
              "value": "",
              "type": "string"
            },
            {
              "id": "2d988a6c-65e6-4bd0-84ac-e36cdaae7830",
              "name": "row_type",
              "value": "={{ $json.row_type }}",
              "type": "string"
            },
            {
              "id": "e16f480c-047a-41b5-bc2d-e92e09863d80",
              "name": "has_free_postage",
              "value": "={{ $json.has_free_postage }}",
              "type": "boolean"
            },
            {
              "id": "a36b61d5-cb5c-46e9-a15c-946958df5a05",
              "name": "published_date",
              "value": "={{ $json.published_date }}",
              "type": "string"
            },
            {
              "id": "966309ce-d557-4aa4-b876-0622d1316307",
              "name": "street_date",
              "value": "={{ $json.street_date }}",
              "type": "string"
            },
            {
              "id": "f3dc9926-925a-4922-9726-f7b5ed243d7a",
              "name": "catalog_page",
              "value": "={{ $json.catalog_page }}",
              "type": "string"
            },
            {
              "id": "0665005c-108f-422c-b99c-4b5d18732386",
              "name": "page_position",
              "value": "={{ $json.page_position }}",
              "type": "string"
            },
            {
              "id": "714f6fb2-5b3e-4d21-aecd-5f6b7239debd",
              "name": "layout_section",
              "value": "={{ $json.layout_section }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        592
      ],
      "id": "cba12580-4664-4994-85c0-074706ecfb7e",
      "name": "FINALIZE COLUMNS"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8475a1f0-54b8-48e3-a225-b9b8a6d591b0",
              "name": "FREE_SHIP_SKU",
              "value": "={{ $json.has_free_postage === true ? '*' + $json.SKU : '' }}",
              "type": "string"
            },
            {
              "id": "93a1b47b-6431-4afa-8062-2a2fbef03315",
              "name": "=PAGE_FOLIO_LEFT",
              "value": "={{ $json.PAGE % 2 !== 0 ? 'Christianbook.com' : '' }}",
              "type": "string"
            },
            {
              "id": "916ee8cc-ae6a-4a9c-8c1e-7090c2dc5272",
              "name": "=PAGE_FOLIO_RIGHT",
              "value": "={{ $json.PAGE % 2 === 0 ? '1-800-CHRISTIAN (1-800-247-4784)' : '' }}",
              "type": "string"
            },
            {
              "id": "c55aa9d0-f706-48a5-9ed1-680da65a24a1",
              "name": "TITLE",
              "value": "={{ $json.TITLE && $json.TITLE.includes(':') ? $json.TITLE.split(':')[0].trim() : $json.TITLE }}",
              "type": "string"
            },
            {
              "id": "c0b81a13-68da-492c-89bf-7d129435c29a",
              "name": "SUBTITLE",
              "value": "={{ $json.TITLE && $json.TITLE.includes(':') ? $json.TITLE.split(':').slice(1).join(':').trim() : '' }}",
              "type": "string"
            },
            {
              "id": "81452630-8ca9-40a9-96c4-e3d67c0084f3",
              "name": "POSTSELL0",
              "value": "={{ $json.row_type === 'aai' ? 'ALSO AVAILABLE IN' : '' }}",
              "type": "string"
            },
            {
              "id": "638f5f07-b37c-495d-ba66-f7849aa6de55",
              "name": "POSTSELL1",
              "value": "={{ $json.row_type === 'author' ? 'MORE BY AUTHOR' : '' }}",
              "type": "string"
            },
            {
              "id": "0d0223bc-da3c-4131-b37d-3f3439ceb3a2",
              "name": "POSTSELL2",
              "value": "={{ $json.row_type === 'series' ? 'MORE IN SERIES' : '' }}",
              "type": "string"
            },
            {
              "id": "3e121957-e98b-462a-8eb6-8dbd8e67f155",
              "name": "IMAGE",
              "value": "={{ $json.row_type === 'main' ? 'https://storage.googleapis.com/dcatalog-image-hosting.firebasestorage.app/novdectestdc/' + $json.SKU + '.jpg' : '' }}",
              "type": "string"
            },
            {
              "id": "b72f2fd9-b050-41f0-a260-b42f77b7358b",
              "name": "POSTSELL2",
              "value": "={{ $json.row_type !== 'main' ? $json.SKU : '' }}",
              "type": "string"
            },
            {
              "id": "57758137-e3b7-4332-a46a-03c18188858f",
              "name": "POSTSELL3",
              "value": "={{ $json.row_type !== 'main' ? $json.TITLE : '' }}",
              "type": "string"
            },
            {
              "id": "d2a52648-d9ab-4ca2-a8b1-90d7f21ca695",
              "name": "TITLE",
              "value": "={{ $json.row_type === 'main' ? $json.TITLE : '' }}",
              "type": "string"
            },
            {
              "id": "4c9ecce4-d33d-4724-9503-a922fa68624a",
              "name": "NEW",
              "value": "={{ $json.street_date === '09/01/2023' ? 'X' : '' }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        592
      ],
      "id": "8f7842dc-30e6-4f79-be2c-c0aeab107984",
      "name": "CALCULATED FIELDS"
    },
    {
      "parameters": {
        "jsCode": "// For 'Run Once for All Items' mode\nconst outputItems = [];\n\nfor (const item of $input.all()) {\n  // Add the main product row\n  const mainRow = {\n    json: {\n      ...item.json\n    }\n  };\n  \n  // Store references before deleting\n  const aaiArray = mainRow.json.aai;\n  const authorSkusArray = mainRow.json.authorSkus;\n  const seriesSkusArray = mainRow.json.seriesSkus;\n  const specialFeaturesArray = mainRow.json.special_features;\n  \n  // Remove the arrays from the main row\n  delete mainRow.json.aai;\n  delete mainRow.json.authorSkus;\n  delete mainRow.json.seriesSkus;\n  delete mainRow.json.special_features;\n  \n  // Add row_type to main row\n  mainRow.json.row_type = 'main';\n  \n  outputItems.push(mainRow);\n  \n  // Process AAI items\n  if (aaiArray && Array.isArray(aaiArray) && aaiArray.length > 0) {\n    for (const aaiItem of aaiArray) {\n      outputItems.push({\n        json: {\n          SKU: aaiItem.sku,\n          product_desc: aaiItem.name,\n          row_type: 'aai',\n          parent_sku: item.json.SKU || item.json.sku,\n          // Copy page info from parent\n          catalog_page: item.json.catalog_page,\n          page_position: item.json.page_position,\n          catalog_sequence: item.json.catalog_sequence,\n          layout_section: item.json.layout_section\n        }\n      });\n    }\n  }\n  \n  // Process Author SKUs\n  if (authorSkusArray && Array.isArray(authorSkusArray) && authorSkusArray.length > 0) {\n    for (const authorItem of authorSkusArray) {\n      outputItems.push({\n        json: {\n          SKU: authorItem.sku,\n          product_desc: authorItem.name,\n          row_type: 'author',\n          parent_sku: item.json.SKU || item.json.sku,\n          // Copy page info from parent\n          catalog_page: item.json.catalog_page,\n          page_position: item.json.page_position,\n          catalog_sequence: item.json.catalog_sequence,\n          layout_section: item.json.layout_section\n        }\n      });\n    }\n  }\n  \n  // Process Series SKUs\n  if (seriesSkusArray && Array.isArray(seriesSkusArray) && seriesSkusArray.length > 0) {\n    for (const seriesItem of seriesSkusArray) {\n      outputItems.push({\n        json: {\n          SKU: seriesItem.sku,\n          product_desc: seriesItem.name,\n          row_type: 'series',\n          parent_sku: item.json.SKU || item.json.sku,\n          // Copy page info from parent\n          catalog_page: item.json.catalog_page,\n          page_position: item.json.page_position,\n          catalog_sequence: item.json.catalog_sequence,\n          layout_section: item.json.layout_section\n        }\n      });\n    }\n  }\n  \n  // Process Special Features\n  if (specialFeaturesArray && Array.isArray(specialFeaturesArray) && specialFeaturesArray.length > 0) {\n    for (const featureItem of specialFeaturesArray) {\n      outputItems.push({\n        json: {\n          SKU: featureItem.sku,\n          product_desc: featureItem.name,\n          row_type: 'special_feature',\n          parent_sku: item.json.SKU || item.json.sku,\n          // Copy page info from parent\n          catalog_page: item.json.catalog_page,\n          page_position: item.json.page_position,\n          catalog_sequence: item.json.catalog_sequence,\n          layout_section: item.json.layout_section\n        }\n      });\n    }\n  }\n}\n\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        -112
      ],
      "id": "83c52b9c-5ff5-4f70-8649-632cab60d216",
      "name": "Extract aai|author|series|special features"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "YwSUjAkSD6xEtgZy",
          "mode": "list",
          "cachedResultUrl": "/workflow/YwSUjAkSD6xEtgZy",
          "cachedResultName": "My project — EnrichProducts"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -400,
        -512
      ],
      "id": "50999a2f-5185-4050-a6b0-9d153041e07a",
      "name": "Call 'EnrichProducts'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "379b5553-cbc9-4c22-94c0-b075fde20d48",
              "name": "SKU",
              "value": "={{ $json.POSTSELL2 || $json.FREE_SHIP_SKU ? '' : $json.SKU }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        592
      ],
      "id": "70d6f825-78d4-4024-9f25-07297a354bc7",
      "name": "Clear Sku"
    },
    {
      "parameters": {
        "jsCode": "// For 'Run Once for All Items' mode\nconst outputItems = [];\n\n// Define row_type sort order\nconst rowTypeOrder = {\n  'main': 1,\n  'aai': 2,\n  'author': 3,\n  'series': 4,\n  'special_feature': 5\n};\n\nfor (const item of $input.all()) {\n  const newItem = {\n    json: {}\n  };\n  \n  // Copy all properties from the original item\n  for (const key in item.json) {\n    newItem.json[key] = item.json[key];\n  }\n  \n  // Add row_type_sort_order\n  newItem.json.row_type_sort_order = rowTypeOrder[item.json.row_type] || 999;\n  \n  outputItems.push(newItem);\n}\n\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        592
      ],
      "id": "bb36fe89-aeb3-46bc-9197-bea86eee8f87",
      "name": "CUSTOM SORT"
    },
    {
      "parameters": {
        "jsCode": "// For 'Run Once for All Items' mode\nconst outputItems = [];\n\nfor (const item of $input.all()) {\n  const newItem = {\n    json: {}\n  };\n  \n  // Copy all properties from the original item\n  for (const key in item.json) {\n    newItem.json[key] = item.json[key];\n  }\n  \n  // Override page-related fields with numeric versions\n  newItem.json.catalog_page = item.json.catalog_page ? parseInt(item.json.catalog_page) : 999;\n  newItem.json.page_position = item.json.page_position ? parseInt(item.json.page_position) : 999;\n  newItem.json.catalog_sequence = item.json.catalog_sequence ? parseInt(item.json.catalog_sequence) : 999;\n  \n  outputItems.push(newItem);\n}\n\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -576,
        592
      ],
      "id": "3d72b617-a28c-45a1-93dd-517689f7110a",
      "name": "Strings to numeric for sorting"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "catalog_page"
            },
            {
              "fieldName": "page_position"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        -320,
        592
      ],
      "id": "39530951-1231-4e02-afdf-6fc9951d49c5",
      "name": "page and postion sort"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "95a2402e-fb07-4342-8863-a737e45b0614",
              "name": "SKU",
              "value": "={{ $json.SKU && $json.SKU !== '' ? 'UW' + $json.SKU : '' }}",
              "type": "string"
            },
            {
              "id": "626dabb5-a787-4386-8a4a-0d5e9ef2dd1b",
              "name": "POSTSELL2",
              "value": "={{ $json.POSTSELL2 && $json.POSTSELL2 !== '' ? 'UW' + $json.POSTSELL2 : '' }}",
              "type": "string"
            },
            {
              "id": "8c828f07-ad2e-4548-a299-6f99488b0dcc",
              "name": "FREE_SHIP_SKU",
              "value": "={{ $json.FREE_SHIP_SKU && $json.FREE_SHIP_SKU !== '' ? '*UW' + $json.FREE_SHIP_SKU.substring(1) : '' }}",
              "type": "string"
            },
            {
              "id": "8d2f80cc-c9ea-4dbe-afd7-ce4b40c384be",
              "name": "COPY",
              "value": "={{ $json.row_type === 'main' ? $json.COPY : '' }}",
              "type": "string"
            },
            {
              "id": "be00b2a6-d808-413c-8faf-5eadd4406c4c",
              "name": "POSTSELL5",
              "value": "={{ $json.row_type !== 'main' ? $json.RETAIL : '' }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        592
      ],
      "id": "d2fa84d9-0706-45ce-8b6b-fa5056dd0c20",
      "name": "Add Prefix to SKUS"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "LOAD HX PROMO RESULTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOAD HX PROMO RESULTS": {
      "main": [
        [
          {
            "node": "PICK SKUS FOR CATALOG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Gemini Rewrite1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set (Tag Failure)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set (Tag Failure)": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set (Prep for AI)": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Strings to numeric for sorting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Rewrite1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PICK SKUS FOR CATALOG": {
      "main": [
        [
          {
            "node": "Unique Sku Batch Groups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unique Sku Batch Groups": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          },
          {
            "node": "Call 'EnrichProducts'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Bring back initial data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Set (Prep for AI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search a folder": {
      "main": [
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bring back initial data": {
      "main": [
        [
          {
            "node": "Extract aai|author|series|special features",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FINALIZE COLUMNS": {
      "main": [
        [
          {
            "node": "CALCULATED FIELDS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CALCULATED FIELDS": {
      "main": [
        [
          {
            "node": "Clear Sku",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract aai|author|series|special features": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'EnrichProducts'": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Sku": {
      "main": [
        [
          {
            "node": "Add Prefix to SKUS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CUSTOM SORT": {
      "main": [
        [
          {
            "node": "FINALIZE COLUMNS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Strings to numeric for sorting": {
      "main": [
        [
          {
            "node": "page and postion sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "page and postion sort": {
      "main": [
        [
          {
            "node": "CUSTOM SORT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Prefix to SKUS": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "016a313b-758a-43ef-88c5-94fde0066763",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5605c9fb756bfa168d22122a14cf038f60b01d43c8353976dd886ec5e9e6d10c"
  },
  "id": "tA0HjPo1UXLYO6Nu",
  "tags": []
}